body      {
    background-color: #7ba9ff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form      {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    border: 2px solid #000000;
}
input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button {
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #000000;
}